<div>
  <h1>Product List</h1>
  <table>
    <!-- ... table headers ... -->
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.type }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.currency }}</td>
    </tr>
    </tbody>
  </table>

  <div class="pagination">
    <ngb-pagination
      [(page)]="currentPage"
      [pageSize]="itemsPerPage"
      [collectionSize]="totalItems"
      (pageChange)="onPageChange($event)"
    ></ngb-pagination>
  </div>
</div>

